tests/fixtures/schemas/local/strict.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="required" type="xs:string"/>
                <xs:element name="optional" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>